@{
    ViewData["Title"] = "GetSummaryReport";
}



<div class="row ">
    <div class="col-3 offset-4">
        <input name="searchKey"  id="searchKey"  class="form-control" placeholder="جستجو با شماره پرسنلي يا نام خانوادگي" required />
    </div>
    <div class="col-4">
        <button class="btn btn-success" type="button" onclick="searchPersonnel()">جستجو</button>
    </div>
</div>

<div id="partilPeronnel"></div>

@section Scripts{

<script>
    function searchPersonnel(){
        $.ajax({  
            type: 'POST',  
            url: '@Url.Action("GetSummaryReport")',  
            data: { searchKey: $("#searchKey").val() },  
            success: function (response) {  
               
               $("#partilPeronnel").html(response)
            },  
            error: function (ex) {}
            
               
        });  
    }
</script>
}

